<!DOCTYPE html>
<html>
<head>
<title>BharatRaj</title>
<style>
.bharatrajpass{
width:50%;
margin:auto;
background-color:#edf0f5;
overflow-y:scroll;
height:768px;
position:absolute;
left:25%;	
}

.bharatrajpass::-webkit-scrollbar-thumb{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.head h1{
background-color:#8e8e93;
text-align:center;
padding:15px 0px;
color:#fff;
}
.list-inline{
list-style:none;
display: inline-flex;
}
.mydetails{
padding-left:25px;
}
.middle h2{
text-align:center;
}
.middle-list{
list-style:none;
display: inline-flex;
padding-left:0px !important;
}
.middle-list li{
padding:10px;
}
.proj1{
text-align:center;
background-color:#CCC;
padding:15px;
}

.middle-list2 h2{
text-align:center;
}
.middle-list2{
list-style:none;
display: inline-flex;
padding-left:0px !important;
}
.middle-list2 li{
padding:10px;
}
.foot h2{
text-align:center;
}
.foot h1{
background-color:#000;
color:#fff;
padding:15px;
text-align:center;
}
</style>
</head>
<body>
<div class="bharatrajpass">
<div class="head">
<h1>Bharat Raj Thatikonda Profile</h1>
<ul class="list-inline">
<li>
<img src="https://s7.postimg.cc/tflk60osr/ios-11-preview-5.jpg" alt="contestCover" width="250px"; height"250px" /></li>
<li class="mydetails">
<h2>Name : Bharat Raj Thatikonda</h2>
<h3>Designation : IOS Developer</h3>
<h3>Experience :  2- Years </h3>
<h3>Present Working at : Gemini Consluting & Services pvt Ltd.</h3>
</li>
</ul>
</div>
<div class="middle">
<h2>Previous Projects</h2>

<ul class="middle-list">
<li>
<div class="proj1">
<h3>Fankcik</h3>
<p>Lorem ipsum dolor sit amet, in elementum sapien. Iaculis a dolor placerat sem, .</p>
</div>
</li>
<li>
<div class="proj1">
<h3>WCM</h3>
<p>Lorem ipsum dolor sit amet, in elementum sapien. Iaculis a dolor placerat.</p>
</div>
</li>
<li>
<div class="proj1">
<h3>Manikarnika</h3>
<p>Lorem ipsum dolor sit amet, in elementum sapien. Iaculis a dolor placerat .</p>
</div>
</li>
<li>
<div class="proj1">
<h3>GreenLabel</h3>
<p>Lorem ipsum dolor sit amet, in elementum sapien. Iaculis a dolor placerat .</p>
</div>
</li>
</ul>

<h2>Technoligies</h2>

<ul class="middle-list2">
<li>
<div class="proj1">
<h3>Node Js</h3>
<p>Lorem ipsum dolor sit amet, in elementum sapien. Iaculis a dolor placerat .</p>
</div>
</li>
<li>
<div class="proj1">
<h3>React Native</h3>
<p>Lorem ipsum dolor sit amet, in elementum sapien. Iaculis a dolor placerat .</p>
</div>
</li>

<li>
<div class="proj1">
<h3>Ios</h3>
<p>Lorem ipsum dolor sit amet, in elementum sapien. Iaculis a dolor placerat .</p>
</div>
</li>
<li>
<div class="proj1">
<h3>Mongo Db</h3>
<p>Lorem ipsum dolor sit amet, in elementum sapien. Iaculis a dolor placerat .</p>
</div>
</li>
</ul>
</div>
<div class="foot">
<h2>Prevoius Worked Companies</h2>
<ul class="middle-list2">
<li>
<div class="proj1">
<h3>Node Js</h3>
<p>Lorem ipsum dolor sit amet, in elementum sapien. Iaculis a dolor placerat .</p>
</div>
</li>
<li>
<div class="proj1">
<h3>React Native</h3>
<p>Lorem ipsum dolor sit amet, in elementum sapien. Iaculis a dolor placerat .</p>
</div>
</li>

<li>
<div class="proj1">
<h3>Ios</h3>
<p>Lorem ipsum dolor sit amet, in elementum sapien. Iaculis a dolor placerat .</p>
</div>
</li>
<li>
<div class="proj1">
<h3>Mongo Db</h3>
<p>Lorem ipsum dolor sit amet, in elementum sapien. Iaculis a dolor placerat .</p>
</div>
</li>
</ul>
<h1> Copy Right @ Bharat Raj Thatikonda</h1>
</div>
</div>
</body>
</html>